*

!.gitignore
!.vimrc
!.zshrc

!.config/

# Sway
!.config/sway/
!.config/sway/*

# Foot Terminal Emulator
!.config/foot/
!.config/foot/*

# Swaylock
!.config/swaylock/
!.config/swaylock/*

# Vim
~.vim/*
~.vim/coc-settings.json

# X stuff
!.Xresources

# i3
!.config/i3/
!.config/i3/*
!.config/i3blocks
!.config/i3blocks/*

!.config/rofi/
!.config/rofi/*

!.config/picom/
!.config/picom/*

!.xsessionrc
